@import './Variables.scss';

body {
    margin:0%;
    color: #FFF;
    font-family: $Inter;
    min-width: 375px;
    height: 100vh;
}

.selectDate{
    display: flex;
    justify-content: center;
    
    &--box{
        background-color: white;
        padding: 5px;
        width: 70%;
        border-radius: 10px;
    }

    button{
        margin-top: 5px;
        @include button-behavior;
    }
}