.register{

    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &--body{

        &--form{
            display: flex;
            flex-direction: column;
            width: 600px;

            *{
                margin: 4px 0px;
            }
        }
    }
}