@import './Variables.scss';

.navbar{
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: black;
    width: 100vw;
    margin-top: 0%;
    
    &--logo{
        margin-left: 25px;
        font-size: $smFont;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        color: white;
    }

    &--nav{
        display: flex;
        margin-right: 20px;
        font-size: $smFont;

        *{
            padding: 5px;
            cursor: pointer;

            &:hover{
                opacity: 0.7;
            }
            &:active{
                opacity: 0.3;
            }
        }
    }

    * {
        text-decoration: none;
        color: white;
    }

    @include respond-to('sm') {
        h4{
            margin-left: 30px;
        }
        &--nav{
            margin-right: 30px;
    
            div{
                padding: 10px;
            }
        }
    }
}