.carousel-container{
    width: 100%;
    display:flex;
}

.carousel {
    overflow: hidden;
    width: 100%;
}

.inner{
    white-space: nowrap;
    transition: transform 0.5s;
}

.carousel--item{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.indicator-button{
    font-size: 3rem;
    background-color: transparent;
    border:none;
    
    color: #FFF;

    &:hover{
        opacity: 0.7;
    }

    &:active{
        opacity: 0.3;
    }
}