@import './Variables.scss';

.navbar{
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    h4{
        margin-left: 30px;
        font-size: $mdFont;
        font-weight: 600;
        cursor: default;
    }
    &--nav{
        display: flex;
        margin-right: 30px;

        div{
            padding: 10px;
            cursor: pointer;

            &:hover{
                opacity: 0.7;
            }
            &:active{
                opacity: 0.3;
            }
        }
    }
}