@import './Variables.scss';

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: red;
    min-width: 375px;
    position: fixed;
    z-index: 2;

    
    h4{
        margin-left: 25px;
        font-size: $smFont;
        font-weight: 600;
        cursor: default;
    }
    &--nav{
        display: flex;
        margin-right: 20px;
        font-size: $smFont;

        div{
            padding: 5px;
            cursor: pointer;

            &:hover{
                opacity: 0.7;
            }
            &:active{
                opacity: 0.3;
            }
        }
    }

    @include respond-to('sm') {
        background-color: yellow;

        h4{
            margin-left: 30px;
            font-size: $mdFont;
            font-weight: 600;
            cursor: default;
        }
        &--nav{
            display: flex;
            margin-right: 30px;
    
            div{
                padding: 10px;
                cursor: pointer;
    
                &:hover{
                    opacity: 0.7;
                }
                &:active{
                    opacity: 0.3;
                }
            }
        }
        
    }
    
    @include respond-to('md') {
        background-color: green;

        h4{
            margin-left: 30px;
            font-size: $mdFont;
            font-weight: 600;
            cursor: default;
        }
        &--nav{
            display: flex;
            margin-right: 30px;
    
            div{
                padding: 10px;
                cursor: pointer;
    
                &:hover{
                    opacity: 0.7;
                }
                &:active{
                    opacity: 0.3;
                }
            }
        }
    }
}