@import '../Variables.scss';

.carousel{
    width: 100%;
    display:flex;


    &--pause {
        overflow: hidden;
        width: 100%;
    }

    &--inner{
        white-space: nowrap;
        transition: transform 0.5s;
    }

    &--item{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &--button--left, &--button--right{
        font-size: 3rem;
        background-color: transparent;
        border:none;        
        color: #FFF;
        
        &:hover{
            opacity: 0.7;
        }
        
        &:active{
            opacity: 0.3;
        }
    }
    &--button--left{
        margin-right:-2rem;
        z-index: 2;
    } 
    
    &--button--right{
        margin-left:-2rem;
        z-index: 2;

    }
    

}